{% extends "layout.html" %}

{% block title %}
    Historial
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
          <th>Usuario</th>
          <th>Color</th>
          <th>Talla</th>
          <th>Cantidad</th>
          <th>Tipo de transacción</th>
          <th>Fecha</th>
        </thead>
        <tbody>
          {% for historia in historial %}
          <tr>
            <td>{{ historia.userID }}</td>
            <td>{{ historia.color }}</td>
            <td>{{ historia.talla }}</td>
            <td>{{ historia.cantidad }}</td>
            <td>{{ historia.t_trans }}</td>
            <td>{{ historia.transacted }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

{% endblock %}