{% extends "layout.html" %}

{% block title %}
    Inventario
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
          <th>Código</th>
          <th>Color</th>
          <th>Talla</th>
          <th>Cantidad</th>
        </thead>
        <tbody>
          {% for inv in inventario %}
          <tr>
            <td>{{(inv.codigo).upper()}}</td>
            <td>{{(inv.color).upper()}}</td>
            <td>{{(inv.talla).upper()}}</td>
            <td>{{inv.cantidad}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

{% endblock %}