{% extends "layout.html" %}

{% block title %}
    Búsqueda de Producto
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <select name="codigo" class="form-control">
            <option disable selected value>Color de sudadera</option>
            {% for code in quote %}
            <option value="{{ (code['color']).upper() }}">{{ (code['color']).upper() }}</option>
            {% endfor %}
            </select>
        </div>
            <button class="btn btn-primary" type="submit">Búsqueda</button>
    </form>

{% endblock %}